body {
   font-family: Arial, sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
   background-color: #f4f4f4;
}

.container {
   background-color: #fff;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   width: 415px;
}

h1 {
   margin: 0;
   font-size: 24px;
   text-align: center;
}

input[type="text"] {
   width: calc(100% - 110px);
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
}

button {
   padding: 10px;
   border: none;
   border-radius: 4px;
   background-color: #28a745;
   color: #fff;
   cursor: pointer;
}

button:hover {
   background-color: #218838;
}

ul {
   list-style-type: none;
   padding: 0;
}

li {
   padding: 10px;
   border-bottom: 1px solid #ccc;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.completed {
   text-decoration: line-through;
   color: #999;
}

.edit-button, .delete-button, .mark-as-done-button {
   background: none;
   border: none;
   cursor: pointer;
   font-size: 14px;z
}

.edit-button {
   color: #007bff;
}

.delete-button {
   color: #dc3545;
}

.mark-as-done-button {
   color: #28a745;
}
